.canvas-container {
  background-color: skyblue;
  border: 1px solid slateblue;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.canvas-container canvas {
  position: absolute;
  transform-origin: center top;
}

.backup-canvas {
  display: none;
}

.eraser {
  cursor: cell;
}
.colorPicker {
  cursor: crosshair;
}

.move {
  cursor: move;
}
