.canvas-container {
  background-color: skyblue;
  border: 1px solid slateblue;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.canvas-container canvas {
  position: absolute;
  pointer-events: none;
  transform-origin: center top;
}

.eraser {
  cursor: url('../assets/eraser.png') 5 10, pointer;
}
.colorPicker {
  cursor: crosshair;
}

.move {
  cursor: move;
}
