.canvas-container {
  background-color: skyblue;
  border: 1px solid slateblue;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.canvas-layer {
  display: block;
  position: absolute;
  transform-origin: center top;
  min-width: 0px;
  min-height: 0px;
}

.eraser {
  cursor: url('../assets/eraser.png') 5 10, pointer;
}
.colorPicker {
  cursor: crosshair;
}

.move {
  cursor: move;
}

/* .canvas image {
  height: 50%;
  width: 50%;
} */

/* .canvas canvas {
  height: 100%;
  width: 100%;
} */