.toolbar {
  padding: 1rem;
  height: 3rem;
  border: 1px solid slateblue;
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

.canvas {
  flex: 1 1 auto;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* .canvas image {
  height: 50%;
  width: 50%;
} */

/* .canvas canvas {
  height: 100%;
  width: 100%;
} */