.tools {
  flex: 0 0 10rem;
  border: 1px solid slateblue;
  display: flex;
  justify-content: stretch;
  gap: 1rem;
  flex-direction: column;
}

.operation-active {
  color: #0958d9;
  border-color: #0958d9;
  background: #ffffff;
}

.tool-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.picked-color {
  border: 1px solid slateblue;
  width: 2rem;
  height: 1rem;
}

.eraser-size {
  height: .3rem;
  width: 1rem;
  background-color: #000;
}